.array-bar {
  width: 7px;
  background-color: peachpuff;
  display: inline-block;
  margin: 0 1px;
  transition: tranform 1s ease;
}

.array-container {
  position: relative;
  height: min-content;
  padding-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

.header {
  display: block;
  background-color: paleturquoise;
  text-align: center;
  height: fit-content;
  padding: 3rem;
  box-sizing: border-box;
}

.slide-container {
  width: 100%;
}

.slider {
  width: 150px;
  height: 20px;
  margin-top: 2rem;
}

.app-container {
  width: max-content;
}

.button {
  border: 1px solid black;
  padding: 5px 10px;
  margin-inline: 5px;
}

.buttons {
  display: inline;
}
