.array-bar {
  background-color: #42a5f5;
  border-radius: 4px 4px 0 0;
  display: inline-block;
  margin: 0 1px;
  transition: height 0.1s ease, background-color 0.1s ease;
  height: 0;
  width: 10px;
}

.array-container {
  position: relative;
  height: min-content;
  white-space: nowrap;
  overflow-x: auto;
  padding-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

.header {
  background: linear-gradient(135deg, #64b5f6, #81c784);
  color: white;
  text-align: center;
  padding: 2rem 1rem;
  border-bottom: 4px solid #4caf50;
  font-family: "Poppins", sans-serif;
}

.slide-container {
  width: 100%;
}
.slider {
  width: 200px;
  accent-color: yellow;
}

.slider + p {
  margin-left: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}
.app-container {
  width: 100%;
}

.button {
  background-color: #fb4711;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  margin: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: #ff7043;
  transform: translateY(-2px);
}

.buttons {
  display: inline;
}
